<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OSR XMAS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.min.css">
  </head>
  <body data-data-url="https://www.osr.ch/en/?advent=1">
    <div id="back-canvas" class="snow-layer snow-layer--bg"></div>
    <div id="front-canvas" class="snow-layer snow-layer--fg"></div>
    <div class="tree-bg tree-bg--3" data-depth='0.10'></div>
    <div class="tree-bg tree-bg--2" data-depth='0.20'></div>
    <div class="tree-bg tree-bg--1" data-depth='0.30'></div>
    <div id="app">
      <header class="header container">
        <h1 class="header__title">Advent Calendar</h1>
        <div class="header__content">
          <p>Enter into the holiday spirit with our musical advent calendar !
            Every morning from 8am (CET) a door of the calendar will open to reveal a musical surprise. <br><br>If you would like to make a donation to the orchestra this festive season, consider supporting the instrumental fund administered by the Friends of the OSR.<br><br>
            Thank you & happy holidays !
          </p>
          <div class="btn-container"><a href="https://amisosr.ch/faire-un-don/" target="_blank" class="btn" title="Donate">Donate</a></div>
        </div>
        <div class="scroll-to"><span>↓</span></div>
      </header>
      <div class="container">
        <ul class="xmas-list" v-if="events">
          <xmas-item 
            v-for="(event, index) in events"
            :index="index"
            :date="event.date"
            :title="event.title"
            :details="event.details"
            :video="event.video"
          />
        </ul>
      </div>
      <transition name="fade">
        <div class="popup" v-if="singleEventIsShowing">
          <div class="popup__content" :data-color="this.currentTextColor" :data-bg-color="this.currentBgColor">
            <button @click.prevent="closePopup" class="popup__close-btn"></button>
            <div class="popup__vid-container">
              <iframe :src="'https://www.youtube.com/embed/' +  activeEvent.video " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="popup__text-container">
              <div>
                <h2 class="popup__title">{{ activeEvent.title }}</h2>
                <div v-html="activeEvent.details"></div>
              </div>
            </div>
          </div>
        </div>
      </transition>

    </div>
    
    <script src="js/main.min.js"></script>
  </body>
</html>
